.vscode
__pycache__
env/Lib/site-packages/__pycache__
app_modules/__pycache__
app_modules/generate_secrete_key.txt
app_modules/captcha_keys.txt
app_modules/methods/__pycache__
app_modules/views/__pycache__
.env